Single.File.Publish/.vs/
Single.File.Publish/src/ChatClient/bin/
Single.File.Publish/src/ChatClient/obj/
Single.File.Publish/src/ChatMessages/bin/
Single.File.Publish/src/ChatMessages/obj/
Single.File.Publish/src/ChatServer/bin/
Single.File.Publish/src/ChatServer/obj/
.vs/
Distributed.PubSub/obj/
Simple.Cluster/bin/
Simple.Cluster/obj/
Persistence/Azure/obj/
Persistence/Azure/bin/
.idea/
Distributed.PubSub/PubSub.Client/bin/
Distributed.PubSub/PubSub.Client/obj/
Distributed.PubSub/PubSub.Messages/bin/
Distributed.PubSub/PubSub.Messages/obj/
Distributed.PubSub/PubSub.Server/bin/
Distributed.PubSub/PubSub.Server/obj/
Simple.Cluster.Sharding/ClusterSharding.Node/bin/
Simple.Cluster.Sharding/ClusterSharding.Node/obj/
Simple.Cluster.Sharding/ShardingNode/obj/
Simple.Cluster.Sharding/SharedLibrary/obj/
